<h1>アカウントの詳細</h1>

<p><%= @user.name %></p>
<p><%= @user.email %></p>

<% count = 0 %>
<% @current_user_blogs.each do |blog| %>
  <% count += blog.favorites.count if blog.favorites.present? %>
<% end %>
<p>お気に入りされた数：<%= count %></p>


<h3>お気に入り一覧</h3>
<% @favorites.each do |favorite| %>
  <p>タイトル：<%= favorite.title %></p>
  <p>投稿者：<%= favorite.user.name %></p>
<% end %>

<%= link_to "ブログ一覧", blogs_path %>

